@charset "utf-8";
/* CSS Document */
body {
	font-family: Tahoma;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	/*padding-right: 15px;
	padding-left: 15px; */
	margin-right: auto;
	margin-left: auto;
}
.header{
    position: relative;
	background: #2a8187;
	height: 100px;
	width: 100%;
	float:left;
}
.header #logo{
	/* height: 80px; */
	width: auto;
	margin-left: 50px;
	padding: 10px;
	/* float: left; */
} 
.profile-bar{
  	position: absolute;
  	top: 0px; right: 0px;
  	float: left;
  	/* padding: 23px; */
	width: 28%;
}
.dropdown-content{
	/* display: inline-block; */
    margin-left: 5px;
    width: 100px;
    height: 20px;
	float:right;
	display: none;
}
.dropdown-content #aone{
	float: right;
    display: inline-block;
    margin-top: 50px;
    font-size: 18px;
	font-family: tahoma;
	text-decoration: none;
	color: white;
}
.dropdown-content #atwo{
	float: right;
    display: inline-block;
    font-size: 18px;
	font-family: tahoma;
	text-decoration: none;
	color: white;
	margin-top:10px;
}

#search{
  position: absolute;
  bottom: 76px; right: 620px;
  float: left;
}
#search a{
  position: absolute;
  top: 7px;
  right:20px
}
/*ll*/
.noidung{
	min-height: 1000px;
	overflow:center;
}
.menu-gold ul{ 
     background: #2a7b7c;
     width: 250px;
     padding: 0px;
     list-style-type: none;
    text-align: center;
}
.menu li{
width: tự động;
height: 150px;
line-height: 40px;
border-bottom: 1px;
padding: 0 1em;
}
.menu-gold{
	width:300px;
	float:left;
}
.menu li:hover{ 
background: #CDE2CD;
}
.menu a{
	text-decoration: none;
	font-family: tomaho;
	font-size: 40px;
	color: #FCF9F9;
	display: block;
	text-align: center;
	padding-top: 30px;
}
.text {
	height: 80px;
	float: left;
	margin-top: 30px;
    margin-left: 1033px;
	
}
.form-control::placeholder{
	font-size: 20px;
	color: rgba(42,129,136);
}
/*kk*/
.products li {
   padding: 29px;
   display: block;
   float: left;
   text-align: center; 
}
.products img{
	height: 240px;
	Width:340px;
	
}
.products li:hover {
	transform: scale(1.1);
	transition: 3s;
}
.products p{
	font-size: 20px;
}
.products span{
	font-size: 20px;
	color: #FE0206;
	font-family: Tahoma;
}
.products span{
	font-weight: bold;
}
.products a{
	text-decoration: none;
	
}
.products-1 li {
   padding: 29px;
   display: block;
   float: left;
   text-align: center; 
}
.products-1 li:hover {
	transform: scale(1.1);
	transition: 3s;
}
.products-1 span{
	font-weight: bold;
}
.products-1 img{
	height: 240px;
	Width:340px;
	
}
.products-1 p{
	font-size: 20px;
}
.products-1 span{
	font-size: 20px;
	color: #FE0206;
	font-family: Tahoma;
}
.products-1 a{
	text-decoration: none;
	
}
.products-2 span{
	font-weight: bold;
}
.products-2 li {
   padding: 29px;
   display: block;
   float: left;
   text-align: center; 
}
.products-2 li:hover {
	transform: scale(1.1);
	transition: 3s;
}
.products-2 img{
	height: 240px;
	Width:340px;
	
}
.products-2 p{
	font-size: 20px;
}
.products-2 span{
	font-size: 20px;
	color: #FE0206;
	font-family: Tahoma;
}
.products-2 a{
	text-decoration: none;
	
}
/*mm*/
footer{
	clear: both;
	position: relative;
	height: auto;
	padding: 45px 50px;
	background: #346767;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color:#fff;
	font-family: tahoma;
	list-style-type: none;
}
footer .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
footer a{
 text-decoration: none;
 line-height: 30px;
 color:#fff;
 font-size: 20px;
}
footer a:hover{
	color:#FC0509;
}
footer .container h2{
   font-size: 28px;
}
footer .container h2:hover{
   color:#70F358;
}
.letter{
  background-color: #2a8187;
  margin-top: 10px;
  height: 50px;
  width: 190px;
}

.letter h2{
  padding: 14px;
  margin-left: 10px;
  color: white; 
}
.form-control :: placeholder{
	font-size: 20px;

}

/* width */
.w-100px{
	width: 100px;
}
.w-100pc{
	width: 100%;
}