@charset "utf-8";
/* CSS Document */
.wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-login{
	max-width: 400px;
	background:rgb(255, 255, 255);
	flex-grow: 1;
	padding:30px 50px 40px 50px;
	box-shadow:0px 0px 17px 2px rgba(17 82 124 / 47%);
	border-radius: 10px;

}
.form-heading{
	font-size: 28px;
	color:#106784;
	text-align: center;
	margin-bottom: 30px;
	font-family: tahoma;
}
.form-group{
	/* margin-top: 15px; */
	/* margin-bottom: 20px; */
	display:flex;
}
.form-group img{
	height: 20px;
	padding-right: 10px;
	padding-top: 5px;
}
.form-input{
	background: transparent;
	border: 0;
	outline: 0;
	width: 85%;
	min-width: 50px;
	/* margin-left: 2px; */
	/* flex-grow: 1; */
	color: #000000;
	border-bottom: 1px solid rgb(39, 150, 184);
}
.form-input::placeholder{
	background: transparent;
}
.form-submit{
	background: transparent;
	border: 1.5px solid rgb(39, 150, 184);
	color:#106784;
	/* width: 30%; */
	min-width: 35px;
	font-family: tahoma;
	padding: 5px 10px;
	transition: 0.25s;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-left: 30%;
	font-weight: bold;
	border-radius: 5px;
}
.form-submit:hover{
	border: 1px solid rgb(148, 230, 81);
}
.Index{
	align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.Index a{
	text-decoration: none;
	color:#42ff04;
}
.Index a:hover{
	color:#EEF110;
}


.error_msg{
	color: #fe0606;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 35px;
}

.txt-decor-none{
	text-decoration: none;
}

.mg-0{
	margin: 0px 0px;
}

.mg-5-0{
	margin: 5px 0px;
}