@charset "utf-8";
/* CSS Document */
body {
	font-family: Tahoma;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	width: 1540px; 
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.header{
    position: relative;
	background: #2a8187;
	height: 220px;
	width: 100%;
	float:left;
}
.header #logo{
	height: 100px;
	width: 150px;
	margin: 0px;
	padding: 10px;
	float: left;
}
.profile-bar{
	position: absolute;
	top: 0px;
	right: 0px;
	float: left;
	padding: 35px;
}
.dropdown-content{
	display: inline-block;
    margin-left: 5px;
    width: 88px;
    height: 18px;
	float:right;
}
.dropdown-content #aone{
	float: right;
    display: inline-block;
    margin-top: 50px;
    font-size: 18px;
	font-family: tahoma;
	text-decoration: none;
	color: white;
}
.dropdown-content #atwo{
	float: right;
    display: inline-block;
    font-size: 18px;
	font-family: tahoma;
	text-decoration: none;
	color: white;
	margin-top:10px;
}

#search{
	position: absolute;
	bottom: 76px;
	right: 620px;
}
#search a{
	top:7px;
	position: absolute;
	right:20px;	
} 
.form-control::placeholder{
	font-size: 20px;
	color: rgba(42,129,136);
}
#name{
	color:#81948D;
	font-size: 30px;
	padding: 10px;
	margin: 10px;
}
.container-1{
	height: 150px;
	width: 100%;
	float:left;
}
.container-1 img{
    height: 80px;
    margin-top: 7px;
    margin-left: 10px;
}
.container-1 h1{
	color: #EF171B;
	text-align: center;
	font-size: 40px;
    align-items: center;
	margin-top:-54px;
}
.bang{
	width: 80%;
	height: 100px;
	float:left;
	margin-left:150px;
	border: 1px solid rgb(39, 150, 184);
    margin-bottom: 10px;
}
.bang b{
	font-size: 25px;
	text-align: center;
    display: block;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.bang td{
	font-size: 20px;
}
.bang img{
	height: 150px;
	width: 200px;
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding:20px;
}
#price{
	font-weight: bold;
	color:red;
	text-align: right;
	font-size: 22px;
	padding-right: 10px;
	
}
#hd{
    font-weight: 500;
    font-family: tahoma;
	text-align: left;
	font-size: 22px;
	padding-left: 40px;
}
#stt{
	text-align: center;
}
#cost{
	text-align: right;
	font-weight: 600;
}
.vat{
	margin-top: -13px;
}
.sum{
	float: left;
	margin-left: 1000px;
	width: 380px;
    height: 250px;
    text-align: center;
	
}
.sum h1{
	font-size: 35px;
	color:#359d2c;
}
.sum h2{
	color: red;
	font-size: 30px;
}
.buynow{
	padding:10px;
    background-color: #FC0509;
    margin-top: 10px;
    height: 40px;
    width:250px;
    border-radius: 10px;
	float:left;
	text-align: center;
}
.buynow:hover{
	background:yellow;
}
.buynow a{
	text-decoration: none;
	color: white;
	font-size: 22px;
	font-weight: 600;
	
}
/*kk*/
footer{
     clear: both;
     position: relative;
     height: auto;
     padding: 45px 50px;
     background: #346767;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     color:#fff;
     font-family: tahoma;
     list-style-type: none;
 }
footer .container{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     flex-direction: row;
 }
footer a{
  text-decoration: none;
  line-height: 30px;
  color:#fff;
  font-size: 20px;
}
footer .container h2{
	font-size: 28px;
	color:white;
}
footer .container h2:hover{
	color:#F6F94C;
}
footer a:hover{
	color:red;
}
.mg img{
	height:60px;
	padding: 10px;
    margin-left: -3px;
}
	
